html {
  min-width: 800px;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

html, body {
  height: 100%;
}

.card {
  min-width: 400px;
}

.card-img-top {
  min-height: 300px;
}
